body {
  font-family: Arial, sans-serif;
}
 .navbar {
      background-color: #333;
      color: white;
      padding: 15px;
      position: sticky;  /* makes it stick */
      top: 0;            /* sticks to the top */
      z-index: 1000;     /* stays above other content */
    }

header {
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
}
.content{
  background-color: #00c6ff;
}

 .hero-section {
      height: 400px; 
      background-image: url("./bg\ image.webp"); 
      background-size: cover; 
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
    }
.card {
  border-radius: 12px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}